$enable-negative-margins: true;

@import '~bootstrap/scss/bootstrap';

@import 'layout/avatar';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/progress';
@import 'layout/sidebar';

@import '~nprogress/nprogress.css';

@import '_custom';

.rotate-45 {
  transform: rotate(45deg);
}

//.-mt-5{
//  margin-top: -30px;
//  //transform: rotate(45deg);
//}
//.marker-label{
//  background: #000;
//  margin: 1rem;
//  border:solid black 0.3rem;
//  border-radius:  0.3rem;
//  color: white;
//}
.bg-light {
  background: #dcdde9 !important;
}

// .btn-success {
//   background-color: #41476e;
// }
.btn-success {
  color: #ffffff;
  background-color: #41476e !important;
  border-color: #41476e !important;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #41476e !important;
  border-color: #41476e !important;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
  color: #ffffff;
  background-color: #41476e !important;
  border-color: #41476e !important;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #41476e !important;
  border-color: #41476e !important;
}

.btn-success .badge {
  color: #41476e !important;
  background-color: #ffffff !important;
}
// btn wharnig
.btn-warning {
  color: #ffffff;
  background-color: #faca15;
  border-color: #faca15;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #faca15;
  border-color: #faca15;
}

.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #fce96a !important;
  border-color: #fce96a !important;
}

.btn-warning .badge {
  color: #fce96a;
  background-color: #ffffff;
}
//end btn warnig
// btn danger
.btn-danger {
  color: #ffffff;
  background-color: #f05252 !important;
  border-color: #f05252 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #f05252 !important;
  border-color: #f05252 !important;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #f98080 !important;
  border-color: #f98080 !important;
}

.btn-danger .badge {
  color: #f98080 !important;
  background-color: #ffffff !important;
}

// :checked}
.form-check-input:checked {
  background-color: #41476e !important;
  border-color: #41476e !important;
}

.text-title {
  color: #41476e;
}

.active-link {
  color: #41476e !important;
}
